html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navoptions, a{
    text-decoration: none;
    align-items: baseline;
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(244, 244, 244);
}

.navbar ul li {
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}

.contact{
    color: rgb(27, 27, 27);
    font-weight: bold;
    background-color: rgb(243, 243, 243);
    padding: 8px 8px 8px 8px;
}

.contact:hover{
    color: rgb(243, 243, 243);
    background-color: rgb(86, 86, 86);
}

.navbar ul li:not(.contact) a:hover{
    color: rgb(126, 126, 126);
}


.brand{
    gap: 20px;
    align-items: baseline;
    display: flex;
}

.name {
    color: rgb(244, 244, 244);
    padding: 5px 0;
}

.designer {
    color: rgba(245, 245, 245, 0.59);
}

.title {
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: rgb(37, 37, 37);
    background-color: rgb(244, 244, 244);
}

.navbar.hide {
    transform: translateY(-100%);
}

.marquee-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    cursor: grab;
    user-select: none;
}

.marquee-container:active {
    cursor: grabbing;   
}

.marquee-content {
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
}

.marquee-content img {
    height: 200px;
    margin: 25px 8px;
    z-index: -1;
}

.content{
    width: 90%;
}

.content h1{
    margin-top: 10%;
    font-size: 80px;
    color: white;
}

.gd{
    margin-top: -50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.355);
}

.desc{
    text-align: justify;
    font-style: normal;
    font-size: 30px;
    color: white;
    padding-left: 0;
    padding-right: 20%;
}

.socials {
    padding: 50px 0;
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: white;
}

.socials li{
    font-size: 20px;
}

.backtotop{
    display: flex;
    justify-content: center;
    width: fit-content;
    position: fixed;
    color: rgb(37, 37, 37);
    background-color: rgba(255, 255, 255, 0.823);
    bottom: 15px;
    right: 15px;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
}

.backtotop{
    color: rgb(37, 37, 37);
    font-weight: bold;
    font-size: 12px;
    padding: 0px 15px 0 15px;
}

.backtotop p{
    color: rgb(37, 37, 37);
}

.backtotop.hide{
    transform: translateY(150%);
}


@media (max-width: 768px) {

    .name {
        display: none;
        padding: 0;
        font-size: 20px;
        flex-wrap: nowrap;
    }

    .designer {
        display: none;
    }

     .navbar {
        top: 0;
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .nav-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        width: 100%;
    }

    .navoptions {
        padding: 0;
        gap: 25px;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul li {
        font-size: 12px;
    }

    .content h1 {
        margin-top: 25%;
        font-size: 60px;
    }

    .gd {
        margin-top: -35px;
        font-size: 16px;
    }

    .desc {
        font-size: 18px;
        padding-right: 10px;
        text-align: justify;
    }

    .marquee-content img {
        height: 150px;
    }

    .socials {
        gap: 10px;
    }

    .socials li {
        font-size: 15px;
    }
}
