body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navoptions,
a {
    text-decoration: none;
    align-items: baseline;
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(244, 244, 244);
}

.navbar ul li {
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}

.contact {
    color: rgb(27, 27, 27);
    font-weight: bold;
    background-color: rgb(243, 243, 243);
    padding: 8px 8px 8px 8px;
}

.contact:hover {
    color: rgb(243, 243, 243);
    background-color: rgb(86, 86, 86);
}

.navbar ul li:not(.contact) a:hover {
    color: rgb(126, 126, 126);
}


.brand {
    gap: 20px;
    align-items: baseline;
    display: flex;
}

.name {
    color: rgb(244, 244, 244);
    padding: 5px 0;
}

.designer {
    color: rgba(245, 245, 245, 0.59);
}

.title {
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: rgb(37, 37, 37);
    background-color: rgb(244, 244, 244);
}

.container {
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.myclasssched {
    color: white    ;
    max-width: 100vw;
    font-size: 30px;
    justify-content: center;
    top: 0;
    font-size: bold;
    display: flex;
}

.table{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

.table th{
    padding: 5px;
    background-color: #e4e3e3;
}

.table td{
    
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.empty{
    background-color: rgb(248, 248, 248);
}

.FL{
    background-color: rgb(230, 206, 130);
}

.GE14{
    background-color: rgb(233, 154, 154);
}

.PE{
    background-color: rgb(192, 130, 250);
}

.ENGL5 {
    background-color: rgb(201, 236, 121);
}

.ITCC21{
    color: #e4e3e3;
    background-color: rgb(70, 70, 187);
}

.ITCC13{
    color: #e4e3e3;
    background-color: rgb(31, 112, 123);
}

.ITCC11{
    color: #e4e3e3;
    background-color: rgb(72, 93, 48);
}

.CC15{
    background-color: rgb(109, 197, 143);
}

@media (max-width: 600px) {

    .table th,
    .table td {
        padding: 3px 5px;
        font-size: 10px;
    }
}