body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
    font-family: Helvetica;
    background-image: linear-gradient(rgb(244, 244, 244), #e4e3e3);
    align-content: center;
    justify-content: center;
    overflow-x: hidden;
}


.container {
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    overflow-x: auto
}

.title {
    max-width: 100vw;
    font-size: 250%;
    justify-content: center;
    top: 0;
    font-size: bold;
    display: flex;
}

.table{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

.table th{
    padding: 5px;
    background-color: #e4e3e3;
}

.table td{
    
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.empty{
    background-color: rgb(248, 248, 248);
}

.FL{
    background-color: rgb(230, 206, 130);
}

.GE14{
    background-color: rgb(233, 154, 154);
}

.PE{
    background-color: rgb(192, 130, 250);
}

.ENGL5 {
    background-color: rgb(201, 236, 121);
}

.ITCC21{
    color: #e4e3e3;
    background-color: rgb(70, 70, 187);
}

.ITCC13{
    color: #e4e3e3;
    background-color: rgb(31, 112, 123);
}

.ITCC11{
    color: #e4e3e3;
    background-color: rgb(72, 93, 48);
}

.CC15{
    background-color: rgb(109, 197, 143);
}

@media (max-width: 600px) {

    .table th,
    .table td {
        padding: 3px 5px;
        font-size: 10px;
    }
}